.accessSection {
  width: 100%;
  padding: 150px 2rem;
  background-color: #0c0c0c;
  color: white;
  background-image: url('/images/mural.png');
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
  font-family: 'Osnova Pro';
}

.mainTitle {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
  letter-spacing: 2px;
}

.cardContainer {
  display: flex;
  gap: 2rem;
  flex-wrap: wrap;
  justify-content: center;
}

.cardWrapper {
  position: relative; 
  display: flex;
  justify-content: center;
  margin-top: 6rem;
}

.card {
  position: relative;
  z-index: 2;   
  background-color: #9a2020;
  padding: 2rem;
  padding-top: 6rem; 
  border-radius: 8px;
  min-width: 260px;
  max-width: 360px;
  min-height: 460px;
  text-align: center;
}

.torii {
  position: absolute;
  top: -90px; 
  left: 50%;
  transform: translateX(-50%);
  width: 70%;
  z-index: 1; 
  pointer-events: none;
}

.cardTitle {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  margin-bottom: -0.5rem;
}

.cardSubtitle {
  font-size: 0.9rem;
  font-style: italic;
  color: #f0f0f0;
  opacity: 0.9;
  margin-bottom: 1.2rem;
  margin-top: 0.5rem;
}

.cardButton {
  display: inline-block;
  text-align: center;
  width: 100%;
  max-width: 200px;

  padding: 0.6rem 1.2rem;
  margin: 1rem auto 2rem auto;

  background-color: #f0f0f0;
  color: #9a2020;
  border-radius: 6px;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease;
}

.cardButton:hover {
  background-color: #ffffff;
  transform: scale(1.05);
}

.cardDescription {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #f0f0f0;
}


/* Torii responsif */

@media (max-width: 768px) { 
  .torii {
    width: 80%;
    top: -100px; 
  }

  .card {
    padding-top: 90px; 
  }
}

@media (max-width: 480px) { 
  .torii {
    width: 85%;
    top: -100px;
  }

  .card {
    padding-top: 80px; 
    min-width: 260px;
  }

  .cardWrapper {
    margin-top: 5rem; 
  }
}

@media (max-width: 370px) { 
  .torii {
    width: 82%;
    top: -80px;
  }

  .card {
    padding-top: 80px; 
    min-width: 260px;
  }

  .cardWrapper {
    margin-top: 5rem; 
  }
}